<div class="mt-4">
  <div class="row">

    <div class="col-lg-3">
      <button>Hoc Ngay</button>
    </div>

    <div class="col-lg-9">
      <h2>{{courses.name}}</h2>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{courses.videoId}}?si=SK_LB5iT5pfy4i36"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <p>{{courses.description}}</p>
    </div>
  </div>
</div>